<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.eson.app.bdpan</string>
	<key>connections</key>
	<dict>
		<key>6DCA78E1-730C-4241-9912-B25391C0C95F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>50B344CE-DECA-491A-960B-CE3B48D56FE8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>26A8215F-AC47-459E-A473-6320CE1C46DA</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>拷贝链接</string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>esonfan</string>
	<key>description</key>
	<string>百度盘共享电影、软件等资源搜索：按alt拷贝链接</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>百度盘资源搜索</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>plusspaces</key>
				<false/>
				<key>url</key>
				<string>{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>50B344CE-DECA-491A-960B-CE3B48D56FE8</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>bd</string>
				<key>runningsubtext</key>
				<string>努力搜索中，请耐心等候….</string>
				<key>script</key>
				<string>from pan_search import search

kd = '{query}'

print search(kd)
</string>
				<key>subtext</key>
				<string>百度盘视频、软件等资源快速搜索</string>
				<key>title</key>
				<string>百度盘资源搜索</string>
				<key>type</key>
				<integer>3</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>6DCA78E1-730C-4241-9912-B25391C0C95F</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>26A8215F-AC47-459E-A473-6320CE1C46DA</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>26A8215F-AC47-459E-A473-6320CE1C46DA</key>
		<dict>
			<key>ypos</key>
			<real>230</real>
		</dict>
		<key>50B344CE-DECA-491A-960B-CE3B48D56FE8</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>6DCA78E1-730C-4241-9912-B25391C0C95F</key>
		<dict>
			<key>ypos</key>
			<real>100</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
